{% extends "base_bootstrap.html" %}
{% block navbar %}
{% load app_tags %}
<nav class="navbar navbar-default navbar-inverse">
  <div class="container-fluid">

    <div class="navbar-header">
        <a class="navbar-brand" href="/">{{ settings.APP_NAME }}</a>
    </div>
    
    <ul class="nav navbar-nav">
      {% url 'control' as control %}
      <li {% if request.get_full_path == control %}class="active"{% endif %}>
          <a href="{% url 'control:main' %}">Наглядовий контроль</a></li>
    </ul>

    <ul class="nav navbar-nav navbar-right">
        {% if user.is_authenticated %}
            <li><a href="{% url 'logout' %}?next={% url 'control:main' %}">Вийти</a></li>
        {% else %}
        <li>
        <a href="{% url 'login' %}?next={% url 'control:main' %}">Увійти</a>
        </li>
        {% endif %}
    </ul>

  </div>
</nav>
{% endblock %}
